@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    
}

.card-wrapper {
    @apply relative bg-gradient-to-b from-slate-700 to-slate-800 rounded-2xl
    overflow-hidden
    ;

}

.card-wrapper::before {
    background: conic-gradient(
        rgba(244,114,182,0.5) 0deg,
        rgba(192,132,252,0.5) 0deg,
        transparent 100deg
    );

    @apply absolute h-[150%] w-[150%] left-[-25%] top-[-25%] content-[''] 
    animate-border-spin;
    }



.card-content {
    @apply absolute w-[calc(100%~2px)] h-[calc(100%-2px)] top-[1px] left-[1px] bg-gradient-to-b  from-slate-800
  to-slate-900 rounded-2xl;

}

@keyframes swipeRight {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .project-info {
    animation: swipeRight 0.5s ease-in-out;
  }
  